@media only screen and (max-width: 480px) {
  .about {
    margin: 25px;
    background-color: #f7e5c5;
    color: #eb903e;
    /* height: 920px; */
    border-radius: 25px;
    font-family: Gaegu;
  }

  .aboutTitle {
    margin: 35px;
    padding: 15px;
    /* background-color: #53a24f; */
  }

  .contributors {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin: 35px;
  }

  .personalCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 5px;
    border: 1px solid #f7e5c5;
    border-radius: 12px;
    box-shadow: 2px 5px #f7e5c5;
    background-color: white;
    /* color: black; */
    width: 250px;
    margin: 25px;
    padding: 15px;
  }

  .personalCard img {
    border-radius: 50px;
    width: 250px;
    height: 250px;
  }

  .socialMediaLinks {
    display: flex;
    gap: 12px;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
@media only screen and (max-width: 1201px) {
}
