@media screen and (max-width: 480px) {
  .container {
    background-color: #b6dcb6;
    padding-top: 1px;
    padding-bottom: 10px;
  }

  .questionsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* gap: 10px; */
    /* margin-left: 30rem; */
    /* background-color: blue; */
  }

  .deleteButtonContainer {
    display: flex;
    justify-content: right;
    margin-right: 25px;
  }
  .deleteButton {
    width: 90px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
  }
  .resultsButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .editResultsDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #f7e5c5;
    border-radius: 12px;
    box-shadow: 2px 5px #f7e5c5;
    background-color: #f7e5c5;
    margin: 15px;
  }
  .editResultsDiv span {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
  }
  .editResultsDiv p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    /* font-size: 20px; */
  }
  .questionLogo {
    width: 320px;
    height: 270px;
    border-radius: 22px;
    margin-bottom: 15px;
  }
  .dataDivQ {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: bold;
    height: auto;
    padding-bottom: 1.5rem;
    border-radius: 22px;
    background: #b6dcb6;
    box-shadow: -8px -8px 10px #a0c2a0, 8px 8px 10px #ccf6cc;
    margin-top: 10px;
  }
  .dataDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    background-color: #b6dcb6;
  }
  .dataDiv p {
    text-align: center;
    font-size: 26px;
    margin-top: -15px;
    margin: -15px 5px 0px 5px;
    font-family: var(--boldFont);
  }
  .dataDiv h2 {
    text-align: center;
  }
  .dataDiv label {
    margin-bottom: 18px;
  }
  input {
    border-radius: 12px;
    width: 300px;
    height: 25px;
  }
  .resultsButton {
    /* width: 180px;
    height: 40px; */
    font-size: 17px;
    font-weight: bold;
    /* margin: 20px; */
    font-weight: bold;
    border-radius: 12px;
    background: linear-gradient(145deg, #fff5d3, #deceb1);
    box-shadow: 5px 5px 0px #f5e3c3, -5px -5px 0px #f9e7c7;
    /* margin: 20px; */
  }
  .resultsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background-color: #f5be3f;
    margin-top: 1rem;
    width: 20rem;
    padding-bottom: 1.5rem;
  }
  .resultsDiv p {
    text-align: center;
    margin: 5px 15px 0px 15px;
    font-size: 1.2rem;
  }
  .resultsDiv h2 {
    text-align: center;
    margin: 0px 15px 5px 15px;
  }
  .resultsDiv h1 {
    text-align: center;
    margin: 0px 15px 0px 15px;
  }
  .catResults {
    margin: 15px 15px;
    width: 200px;
    height: auto;
    border-radius: 22px;
  }
  .catLogoResults {
    margin: 20px 15px;
    width: 260px;
  }
  .footerDiv {
    background-color: #b6dcb6;
    padding: 5px;
  }
  .questionsButtons {
    display: flex;
    justify-content: space-around;
    width: 300px;
  }
}

/* @media only screen and (min-width: 481px) and (max-width: 768px) {
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
} */
@media screen and (min-width: 769px) {
  .container {
    background-color: #b6dcb6;
    padding-top: 1px;
    padding-bottom: 10px;
  }

  .questionsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    /* margin-left: 30rem; */
    /* background-color: blue; */
  }

  .deleteButtonContainer {
    display: flex;
    justify-content: right;
    margin-right: 25px;
  }
  .deleteButton {
    width: 90px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
  }
  .resultsButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .editResultsDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #f7e5c5;
    border-radius: 12px;
    box-shadow: 2px 5px #f7e5c5;
    background-color: #f7e5c5;
    margin: 15px;
  }
  .editResultsDiv span {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
  }
  .editResultsDiv p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    /* font-size: 20px; */
  }
  .questionLogo {
    width: 400px;
    height: 300px;
    margin: 15px;
    border-radius: 22px;
    background: #f7cfc5;
    box-shadow: 5px -5px 10px #63534f, -5px 5px 10px #ffffff;
  }
  .dataDivQ {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    width: 31.2rem;
    height: 37.7rem;
    border-radius: 22px;
    background: #b6dcb6;
    box-shadow: -8px -8px 10px #a0c2a0, 8px 8px 10px #ccf6cc;
    margin-top: 10px;
  }
  .dataDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    background-color: #b6dcb6;
  }
  .dataDiv p {
    text-align: center;
    font-size: 26px;
    margin-top: -15px;
    margin: -15px 5px 0px 5px;
    font-family: var(--boldFont);
  }
  .dataDiv h2 {
    text-align: center;
  }
  input {
    border-radius: 12px;
    width: 400px;
    height: 25px;
  }
  .resultsButton {
    /* width: 180px;
      height: 50px; */
    /* font-size: 14px; */
    font-weight: bold;
    border-radius: 12px;
    background: linear-gradient(145deg, #fff5d3, #deceb1);
    box-shadow: 5px 5px 0px #f5e3c3, -5px -5px 0px #f9e7c7;
    margin: 1.2rem;
  }
  .resultsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5be3f;
    width: 40rem;
    padding-bottom: 2rem;
    border-radius: 22px;
    background: #f5be3f;
    box-shadow: inset 5px 5px 16px #ebb63c, inset -5px -5px 16px #ffc642;
  }
  .resultsDiv p {
    text-align: center;
    margin: 5px 15px 0px 15px;
    font-size: 1rem;
  }
  .resultsDiv h2 {
    text-align: center;
    margin: 0px 15px 5px 15px;
  }
  .resultsDiv h1 {
    text-align: center;
    margin: 0px 15px 0px 15px;
  }
  .catResults {
    margin: 15px 15px;
    width: 22rem;
    height: auto;
    border-radius: 22px;
  }
  .catLogoResults {
    margin: 15px 15px;
    width: 21rem;
  }
  .footerDiv {
    background-color: #b6dcb6;
    padding: 5px;
  }
  .questionsButtons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 300px;
    margin-bottom: 8px;
    font-size: 15px;
  }
}
