/* #7fbaf7 */

@media only screen and (max-width: 400px) {
  body {
    margin: 0;
    padding: 0px;
  }
  .teste {
    background-color: #53a24f;
    padding-bottom: 100px;
    padding-top: 30px;
  }
  /* img {
    width: 270px;
    height: 192px;
  } */
  .catLogoDiv img {
    width: 270px;
    height: 192px;
  }
  .logoDiv img {
    width: 380px;
    height: 250px;
  }
  .buttonDiv img {
    width: 300px;
    height: 60px;
  }
  .buttonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
