/* #7fbaf7 */
body {
  margin: 0;
  padding: 0px;
}
@media screen and (max-width: 480px) {
  .teste {
    background-color: #53a24f;
    padding-bottom: 100px;
    padding-top: 30px;
  }
  .catLogoDiv img {
    width: 270px;
    height: 192px;
  }
  .logoDiv img {
    width: 380px;
    height: 250px;
  }
  .buttonDiv img {
    width: 300px;
    height: 60px;
  }
  .buttonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* @media only screen and (min-width: 481px) and (max-width: 768px) {
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
} */
@media screen and (min-width: 769px) {
  .teste {
    background-color: #53a24f;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 295px;
  }
  .catLogoDiv img {
    width: 36.25rem;
    height: 31.25rem;
    /* padding: 90px 0px; */
    margin-top: 200px;
    margin-left: 50px;
  }
  .logoDiv img {
    width: 730px;
    height: 370px;
    margin-right: 150px;
    margin-top: 50px;
  }
  .buttonDiv img {
    width: 300px;
    height: 60px;
    border-radius: 12px;
  }
  .buttonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
