@media only screen and (max-width: 400px) {
  body {
    background-color: #53a24f;
  }
  /* img {
    width: 270;
    height: 192;
  } */
  /* .container {
    width: auto;
    background-color: #53a24f;
    display: flex;
    flex-direction: column;
    gap: 15px;
  } */
  .catLogoDiv img {
    width: 270px;
    height: 192px;
    background-color: red;
  }
  .catLogoDiv {
    width: 270px;
    height: 192px;
  }
  .logoDiv {
    width: 270px;
    height: 192px;
  }
}
