/* verde: #53a24f
laranja:#eb903e
rose:#f7e5c5
beige: #f7e5c5 */

@media only screen and (max-width: 400px) {
  .navbar {
    text-decoration: none;
    display: flex;
    gap: 45px;
    justify-content: space-between;
    margin: 2px;
    padding: 0px;
    /* padding-bottom: 55px; */
    border: 1px solid #f7e5c5;
    border-radius: 12px;
    background-color: #efb17b;
    font-size: 0.2em;
    box-shadow: 2px 3px #f7e5c5;
    /* width: 400px; */
  }
  .navbarImages {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 80px;
  }

  .navbar img {
    margin: 15px;
    width: 120px;
    height: 80px;
  }
  .navbarButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 15px;
    font-size: 0.2em;
    /* margin: 15px; */
  }

  .navbar button {
    width: 75px;
    font-size: 0.1em;
  }
}

/* #b6dcb6 */
