.navbar {
  text-decoration: none;
  display: flex;
  gap: 150px;
  justify-content: space-between;
  margin: 50px;
  padding: 15px;
  border: 1px solid red;
  border-radius: 12px;
}

.navbar h1 {
  padding: 15px;
}

.navbar h2 {
  padding-top: 25px;
}
