/* verde: #53a24f
laranja:#eb903e
rose:#f7e5c5
green: /* #b6dcb6 */

@media screen and (max-width: 480px) {
  .navbar {
    text-decoration: none;
    display: flex;
    gap: 45px;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 0px;
    padding: 10px 0px;
    border: 1px solid #f7e5c5;
    border-radius: 12px;
    background-color: #efb17b;
    font-size: 0.2em;
    box-shadow: 2px 3px #f7e5c5;
  }
  .navbarImages {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 80px;
    width: 90px;
    margin-left: 20px;
  }

  .navbar img {
    margin: 15px;
    margin-right: 20px;
    width: 170px;
    position: relative;
    bottom: 10px;
    right: 20px;
  }
  .navbarButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 30px;
    gap: 10px;
    font-size: 0.2em;
    /* margin: 15px; */
  }
  .navbar button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    font-weight: bold;
  }
}

@media screen and (min-width: 769px) {
  .navbar {
    text-decoration: none;
    display: flex;
    gap: 45px;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 0px;
    padding: 10px 0px;
    border: 1px solid #f7e5c5;
    border-radius: 12px;
    background-color: #efb17b;
    font-size: 0.2em;
    box-shadow: 2px 3px #f7e5c5;
  }
  .navbarImages {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 80px;
    width: 90px;
    margin-left: 20px;
  }

  .navbar img {
    margin: 15px;
    margin-right: 20px;
    width: 170px;
    position: relative;
    bottom: 10px;
    right: 20px;
  }
  .navbarButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 30px;
    gap: 10px;
    font-size: 0.2em;
    /* margin: 15px; */
  }

  .navbar button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    font-weight: bold;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    text-decoration: none;
    display: flex;
    gap: 45px;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 0px;
    padding: 10px 0px;
    border: 1px solid #f7e5c5;
    border-radius: 12px;
    background-color: #efb17b;
    font-size: 0.2em;
    box-shadow: 2px 3px #f7e5c5;
  }
  .navbarImages {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 80px;
    width: 90px;
    margin-left: 20px;
  }

  .navbar img {
    margin: 15px;
    margin-right: 20px;
    width: 170px;
    position: relative;
    bottom: 10px;
    right: 20px;
  }
  .navbarButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 30px;
    gap: 10px;
    font-size: 0.2em;
    /* margin: 15px; */
  }

  .navbar button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    font-weight: bold;
  }
}

/* @media only screen and (min-width: 481px) and (max-width: 768px) {
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
} */

@media screen and (min-width: 769px) {
  .navbar {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
    margin: 0.8rem;
    margin-bottom: 0px;
    padding: 0.8rem 0px;
    border: 1px solid #f7e5c5;
    border-radius: 12px;
    background-color: #efb17b;
    font-size: 0.2em;
    box-shadow: 0.5rem 0.6rem 0.3rem #f7e5c5;
  }
  .navbarImages {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 180px;
    width: 200px;
    margin-left: 20px;
  }

  .navbar img {
    margin: 15px;
    margin-right: 20px;
    width: 450px;
    position: relative;
    bottom: 10px;
    right: 20px;
  }
  .navbarButtons {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-content: center;
    /* margin-left: 30px; */
    gap: 30px;
    font-size: 0.2em;
    margin-right: 20px;
  }

  .navbar button {
    width: 15rem;
    height: auto;
    font-size: 1.4rem;
    font-weight: bold;
  }
}
