@media only screen and (max-width: 400px) {
  .breeds {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding: 45px; */
    margin: 20px;
    /* background-color: #53a24f; */
    border-radius: 12px;
    color: #f7e5c5;
    font-size: 1.2em;
  }

  .searchBarParent {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* margin: 45px; */
    /* left: 45%; */
    width: 100%;
    /* background-color: #325434aa; */
    background-color: #53a24f;
    /* padding-right: 100px; */
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-size: 1.6em;
    font-weight: bolder;
    /* width: 400px; */
  }

  .searchBar input {
    width: 345px;
    height: 35px;
    font-size: 1.2em;
    border: 1px solid #f7e5c5;
    box-shadow: 2px 3px #f7e5c5;
    border-radius: 18px;
  }

  .cardsContainer {
    display: "flex";
    flex-direction: "column";
    justify-content: "center";
    gap: 25px;
    width: 350px;
    margin: 15px;
    /* background-color: #f7e5c5; */
  }

  .card {
    display: flex;
    flex-direction: column;
    background-color: #f7e5c5;
    color: black;
    gap: 5px;
    align-items: center;
    /* margin: 15px; */
    padding: 25px;
    border: 1px solid #f7e5c5;
    border-radius: 12px;
    box-shadow: 2px 3px #f7e5c5;
    margin-bottom: 45px;
    margin-right: 35px;
  }

  .card img {
    width: 220px;
    border-radius: 18px;
  }
}
