@media only screen and (max-width: 480px) {
  .navBarDiv {
    background-color: #b6dcb6;
    padding: 5px;
  }
  .breeds {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px;
    color: black;
    font-size: 1.1em;
    background-color: #b6dcb6;
  }

  .searchBarParent {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    /* margin: 45px; */
    /* left: 45%; */
    width: 100%;
    padding: 15px;
    /* background-color: #325434aa; */
    background-color: #b6dcb6;
  }

  .searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-size: 1.4em;
    font-weight: bolder;
    background-color: #b6dcb6;
    padding-right: 30px;
  }

  .searchBar input {
    width: 345px;
    height: 35px;
    font-size: 1.2em;
    border: 1px solid #f7e5c5;
    box-shadow: 2px 3px #f7e5c5;
    border-radius: 18px;
  }

  .cardsContainer {
    display: "flex";
    flex-direction: "column";
    justify-content: "center";
    gap: 25px;
    width: 350px;
    margin: 5px;
    /* background-color: #f7e5c5; */
  }

  .card {
    display: flex;
    flex-direction: column;
    background-color: #f7e5c5;
    color: black;
    align-items: center;
    padding: 25px;
    border: 1px solid #f7e5c5;
    border-radius: 12px;
    box-shadow: 2px 3px #f7e5c5;
    margin-bottom: 45px;
    margin-right: 35px;
  }

  .card img {
    width: 220px;
    border-radius: 18px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
@media only screen and (max-width: 1201px) {
}
