/* verde: #53a24f
laranja:#eb903e
rose:#f7e5c5
beige: #f7e5c5 */

@media only screen and (max-width: 480px) {
  footer {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    background-color: #f7e5c586;
    border: 1px solid #f7e5c5;
    border-radius: 12px;
    box-shadow: 2px 3px #f7e5c5;
    font-size: 0.4em;
  }

  /* footer span {
    padding-top: 25px;
  } */
}
